<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h2 class="header">Konusma Arkadaşım Nedir?</h2>
  <p class="nedir-div">
    Konuşma bozukluğu ve kekemelik sürecinde olan çocukların eğlenerek pratik yapmasını sağlayan uygulamadır.Kekemelik üç gruba ayrılır.
    Kekemelik konuşmadaki uzatmalar, tekrarlar ve duraklamalarla kendini gösterir.Kekemelik çeşitlerinden <b>"Hız Kekemeliği"</b> ve <b>"Gırtlak Kekemeliği"</b> bazı kelimelerin tekrarı ile 
    ortaya çıkmaktadır.Gırtlak kekemeliği ünlü harflerin tekrarı ile oluşmaktadır. Bu süreçte kelimeleri bir an önce söyleyebilmek için stres yapar ve daha fazla kekelemeye ve söyleyemedikleri 
    kelimeler yerine daha basit kelimeler kullanırlar.</p>
    <div class="image">
      <img src="../assets/images/kekeme.jpg">
    </div>
    <p class="nedir-div">Bu uygulamanın sağladığı hangi harflerde takınıldığını tespit ederek bu yönde çocuğun pratik yapmasını sağlayarak kendine olan özgüveninin yerine getirilmesine yardımcı olmaktır.
    Konuşma bozukluğu olan çocuklar için yapılan uygulamaların genelinde çocuğun yanında bir bireye ihtiyaç vardır. Çalışma yetişkin onayı alarak sürdürülmektedir ancak bu proje çocuğu kaygılarından uzak tutarak stres ve baskı altında 
    kalmadan kendi başına eğlenerek ilerleme kaydetmesine olanak sağlayacaktır. Bu uygulama da çocukların içinde bulunduğu, kendisine göre zor olan bu dönemi kolay atlatabilmesinde yardımcı olurken eğlendirmek istenmektedir. 
    </p>
    <div class="image">
      <img src="../assets/images/keke.jpg">
    </div>
  <p class="nedir-div">Çocukların bu dönemde 
    pratik yapabilmeleri için uygulamanın içinde öncelikle bir paragraf sesli tekrarı yaptırılacaktır. Bu sesli tekrarın sonucunda çocuğun nerede takıldığı tespit edilerek, kelimeler veri tabanında tutulacaktır. Çocuğun takıldığı harflere göre harfin başta, ortada, sonda
    olduğu durumlara göre kelimeler seçilip çocuğa eğitim seti hazırlayan bir yapay zeka algoritması tasarlanacaktır. 
  </p>
  <div class="image">
    <img src="../assets/images/kekeme2.jpg">
  </div>
</ion-content>