ion-content.background{
    --background: url(../../assets/images/soft2.jpg) 0 0/100% 100% no-repeat;
}

.offer-img-container{
    
    width: 200px;
    height: 150px;
    display: flex!important;
    justify-content:center!important;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 30px;
    border-radius: 50%;

}

.offer-header-container{

    display: flex!important;
    justify-content:center!important;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 180px;
    color:black;
}

.offer-button-ortala{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
} 

ion-button.background{
    --background: url(../../assets/images/play.png) 0 0/100% 100% no-repeat;
    width: 50px;
    height: 50px;
    margin: 10px;
}

ion-button.background2{
    --background: url(../../assets/images/stop.png) 0 0/100% 100% no-repeat;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.offer-text{
    color:orangered;
    text-align: center;
}

.rightOrWrong{
    margin: 10px;
}

.motivation-container{
    animation: blinker 0.9s linear infinite;
    color: green;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    }
    @keyframes blinker {  
    50% { opacity: 0; }
}

.motivation-right-gif{
    height: auto;
}