<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h2 class="header">Konusma Arkadaşım Nasıl Kullanılır?</h2>
  <p class="nedir-div">
    İlk olarak hikayeyi okumaya başlayınız.Herhangi duraklama veya harflerde uzatılma gerçkelştiği takdirde <span><img class="metin-image" src="../assets/images/pause.png"></span> tusuna basmanız gerekmektedir.Bütün hikayeyi okuyup tamamladığınız da ise
    <span><img class="metin-image" src="../assets/images/stop.png"></span> tusuna basarak kayıt etmeniz ve "story.wav" yazan dosyayı yüklemeniz gerekmektedir.
  </p>
    <div class="image">
      <img src="../assets/images/kekeme3.jpg">
    </div>
    <p class="nedir-div">
      Takılma noktalarının hangi harf olduğu tespit edildikten sonra harflerin başta sonda ve ortada olma durumlarına göre önerilen harfler gelecektir.
      Burda da kayıt tuşuna <span><img class="metin-image" src="../assets/images/play.png"></span> basarak ses kaydına başlanmalıdır.Daha sonra <span><img class="metin-image" src="../assets/images/stop.png"></span> tusu ile dosyayı seçmeniz gerekmektedir.
      Dosya kelimenin adı ile kayıt olacaktır.
    </p>
    <div class="image">
      <img src="../assets/images/kekeme4.jpg">
    </div>


</ion-content>