<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Konusma Arkadasım
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="ortala">
  <ion-button class="text-ortala color"(click)="sayfaGecis3()">Konusma Arkadasım Nedir?</ion-button><br/>
  <ion-button class="text-ortala color"(click)="sayfaGecis2()">Nasıl Kullanılır?</ion-button><br/>
  <ion-button class="text-ortala color"(click)="sayfaGecis1()">Giriş Yap</ion-button><br/>

  </div>
</ion-content>
