.ortala{
    
    display: flex;
    justify-content: center;
    margin-top: 50%;
    
  }

  
.text-ortala{
    display: flex;
    justify-content: center;
  }

  ion-content.background{
    --background: url(../../assets/images/2.png) 0 0/100% 100% no-repeat;
  }